/* FOLDER */

.list:last-child.list {
    margin-bottom: 40px;
    padding: 0;
    margin: 0;
    background: rgb(55, 144, 251);
    background: linear-gradient(160deg, rgba(55, 144, 251, 1) 25%, rgba(255, 255, 255, 1) 25%);
}

.module-folder2.folder2-layout2 ion-content .folder-l4-row:nth-child(1) {
    margin-top: -40px !important;
}

.module-folder2.folder2-layout2 ion-content .list:nth-child(1) {
    display: none;
}

.module-folder2.folder2-layout2 .folder-l4-row div {
    border: 0;
    margin: 10px !important;
    background-color: #fff;
    border-radius: 20px !important;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    z-index: 999;
    border-radius: 20px;
}

.module-folder2.folder2-layout2 div.folder-l4-row:nth-child(1) .folder-l4-col:nth-child(1) {
    border: 0;
    margin: 10px !important;
    background-color: transparent;
    border-radius: 20px !important;
    z-index: 999;
    border-radius: 20px;
    visibility: hidden;
    pointer-events: none;
}

.module-folder2.folder2-layout2 div.folder-l4-row:nth-child(1) .folder-l4-col:nth-child(1):after {
    content: "JustApp Institute";
    display: block;
    visibility: visible;
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    font-family: MaisonNeue-Book, sans-serif;
    width: 100%;
    margin-top: -90px !important;
}

.module-folder2.folder2-layout2 div.folder-l4-row:nth-child(1) .folder-l4-col:nth-child(2) {
    border: 0;
    margin: 10px !important;
    background-color: transparent;
    z-index: 999;
    border-radius: 50% !important;
    color: #fff !important;
    box-shadow: none;
}

.module-folder2.folder2-layout2 div.folder-l4-row:nth-child(1) .folder-l4-col:nth-child(2) p {
    color: #363636 !important;
}

.module-folder2.folder2-layout2 .folder-l4-row:nth-child(4) .folder-l4-col:nth-child(1) {
    width: 50%;
    margin-left: 0;
}

.module-folder2.folder2-layout2 .folder-l4-row:nth-child(4) .folder-l4-col:nth-child(2) {
    width: 50%;
    margin-left: 0;
}